.bookingform {
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.booking-menu-btn {
  position: absolute;
  top: 15px;
  left: 15px;
}

.bookingheader {
  font-family: 'Bebas Neue', sans-serif;
  color: #ec315a;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.subheader-when,
.subheader-shoes {
  font-family: 'Bebas Neue', sans-serif;
  color: #441d81;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  padding-left: 29%;
  padding-right: 29%;
  margin-bottom: 15px;
}

.subheader-shoes {
  padding-left: 40%;
  padding-right: 40%;
}

.subheader-when::before,
.subheader-when::after,
.subheader-shoes::before,
.subheader-shoes::after {
  content: '';
  border-top: 1px solid #441d81;
  position: absolute;
  height: 1px;
  top: 50%;
  width: 27%;
}

.subheader-shoes::before,
.subheader-shoes::after {
  width: 37%;
}

.subheader-when::before,
.subheader-shoes::before {
  left: 0;
}

.subheader-when::after,
.subheader-shoes::after {
  right: 0;
  left: auto;
}
.form-group {
  height: 40px;
  border: 2px solid;
}

.form-group label {
  z-index: 1000000;
  position: relative;
  top: 40px;
  left: 20px;
  background-color: #fff4f1;
  font-family: 'Bebas Neue', sans-serif;
  position: relative;
}

.form-group input {
  height: 60%;
  width: 100%;
  background-color: #fff4f1;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  border: none;
}

.shoes-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}

.shoes {
  width: 250px;
}

.remove-btn {
  font-family: 'work sans', sans-serif;
  border: none;
  background-color: #ec315a;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

.buttons-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addplayer-btn {
  border: none;
  background-color: #ec315a;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}

.submit-btn {
  border: none;
  background-color: #ec315a;
  height: 68px;
  width: 340px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}
