* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  height: 80vh;
  background-color: #fff4f1; /* Standardfärg */
  width: 40vh;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.3s ease; /* Smidig övergång */
}

.container.menu-open {
  background-color: #000; /* Svart bakgrund på /menu */
}
